:root {
    --primary-text-color: #757575;
    --primery-title-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --footer-hero-background-color: #2F303A;
    --header-logo-color: #000000;
    --staff-color: #F5F4FA;
    --icon-color: #AFB1B8;
}

